body{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-template-rows: repeat(6,1fr);
}
ul{
    list-style-type: none;
}
.sidebar{
   background-color: aqua;
   grid-column: 1/1;
   grid-row: 1/6;
}
.header{
    background-color: azure;
    grid-column: 2/7;
    grid-row: 1/1;
}
img{
    width: 20px;
    height: 20px;
}
#dash{
    width: 40px;
    height: 40px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container2{
    display: flex;
    justify-content: space-between;
}
.hello{
    display: flex;
}
.content{
    display: grid;
    width: 700px;
    height: 700px;
    grid-column: 2;
    grid-row: 2/6;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}
.header2{
    grid-column: 2;
    grid-row: 2;
}
.card{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: .4em 0 rgba(249, 213, 142, 0.684) inset,
    2px 3px rgb(160, 160, 160);}

.content-right{
    grid-column: 6;
    grid-row: 2;
}
.cards{
    grid-column: 6;
    grid-row: 3;
}
button {
   border-radius: 100px;
 background-color: #405cf5;
 box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 border-width: 0;
 padding: 0 1rem;
 width: 90px;
 height: 44px;
 text-align: center;
  
}